*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace
}

body{
    color: #fff;
    background-color: rgb(253, 29, 85);
}

header{
    padding: 16px 0;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.container{
    margin: 15px auto;
    max-width: 1200px;
    width: 100%;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 16px;
}

section.form{
    margin-top: 12%;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

form input {
    display: block;
    width: 600px;
    margin-bottom: 8px;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
}


form button{
    display: block;
    width: 600px;
    margin-bottom: 8px;
    padding: 8px;
    font-size: 20px;
    background-color: rgb(34, 9, 255);
    color: rgb(76, 190, 243);
    border: none;
    cursor: pointer;
    font-style: italic;
    font-weight: bolder;
}

form button:hover{
    background-color: rgb(8, 135, 238);
}

input:focus{
    outline-color:rgb(15, 44, 212); ;
}

.mensagenVeradeiro{
    color: #00010a;
    background-color: chartreuse;
    display: none;
    padding: 16px;
    width: 600px;
    font-weight: bolder;

}

.mensagenFalso{
    padding: 16px;
    background-color: red;
    color: #ffffff;
    display: none;
    width: 600px;
    font-weight: bolder;
}